.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Cypress.io E2E local files
cypress/videos/
cypress/screenshots/

# Test coverage reports
.nyc_output/
coverage/
reports/
jest-coverage/
cypress-coverage/
