# This is a basic workflow to help you get started with Actions

name: Lighthouse CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

    #runs the lighthouse
    - name: Lighthouse CI Action
      uses: treosh/lighthouse-ci-action@v2
      with:
        # List of URL(s) to analyze
        urls: |
          https://ui.ambianic.ai/
          http://localhost:8080/
        budgetPath: '.github/lighthouse/budget.json' # test performance budgets
        configPath: '.github/lighthouse/lighthouserc.json'
        # Path to a LHCI lighthouserc.json file
        # Opt-out of saving Lighthouse results as an action artifacts
        uploadArtifacts: false
        # Number of runs to do per URL
        serverBaseUrl: ${{ secrets.LHCI_SERVER_URL }}
        serverToken: ${{ secrets.LHCI_SERVER_TOKEN }}
